---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../config';
---

<style>
  .site-title {
    display: block;
    font-size: 3rem;
    line-height: 1;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
  }
  .nav-link-container {
    display: flex;
    gap: 1rem;
    justify-content: flex-start;
    align-items: center;
  }
</style>
<header>
  <a href="/" class="site-title">{SITE_TITLE}</a>
  <nav class="nav-link-container">
    <HeaderLink href="/date">依日期瀏覽</HeaderLink>
    <HeaderLink href="/categories">依分類瀏覽</HeaderLink>
  </nav>
  <hr />
</header>
