---
import type { Post } from '@Models/GeneralTypes';

interface Props extends Pick<Post, 'title' | 'date' | 'tag'> {
  url?: string;
}

const { title, date, tag, url } = Astro.props;
---

<li class="post">
  <div>{date}</div>
  <a href={url}>{title}</a>
  <ul class="tag-container">
    {tag.map((tag) => <li>{tag}</li>)}
  </ul>
</li>

<style>
  .post {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px;
  }

  .tag-container {
    margin-left: auto;
  }
</style>
